@import url("cell-element.css");
/*-----------------------------------------第二：重置样式----------------------------------------------------*/
html {
  font-family: STHeiti, Arial, sans-serif;
  word-wrap: break-word;
  word-break: break-all;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
html {
  font-size: calc(100vw / 3.75);
}
/*是否开启vm自动调整html的font-size */
body {
  font-size: 16px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  position: relative;
  height: 100%;
  color: #000;
  background-color: #ffffff;
}
body,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
}
em,
i {
  font-style: normal;
}
img {
  width: 100%;
  height: auto;
}
i,
span {
  display: inline-block;
}
ol,
ul {
  list-style: none;
}
h3 {
  font-weight: normal;
}
a {
  text-decoration: none;
  color: #333;
  display: inline-block;
}
a:hover {
  text-decoration: none;
}
/*移动端点击a链接出现蓝色背景问题解决*/
a:link,
a:active,
a:visited,
a:hover {
  background: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

/*input框的背景样式*/
textarea,
article,
select,
input {
  -webkit-appearance: none;
  outline: none;
  background: none;
}
input::-webkit-input-placeholder {
  color: #9B9B9B;
  font-size: 14px;
  text-align: left;
  letter-spacing: 0.01rem;
}
.height-44 {
  height: 0.44rem;
}
.height-50 {
  height: 0.5rem;
}

/*标签的border+color+bg*/
.border-4A4A4A {
  border: 1px solid #4A4A4A;
}
.border-0F0F0F {
  border: 1px solid #0F0F0F;
}
/*字体大小*/
h3 {
  font-size: 18px;
  color: #000;
}
h4 {
  font-size: 16px;
  color: #000;
}
p {
  font-size: 16px;
  color: #333;
  letter-spacing: 1px;
  line-height: 30px;
}
span {
  font-size: 14px;
  color: #333;
}
.f-size-14 {
  font-size: 14px;
}
.f-size-13 {
  font-size: 13px;
}
.f-size-12 {
  font-size: 12px;
}
.f-size-10 {
  font-size: 10px;
}
/* 文本超出阶段 */
.hidden-zl {
  overflow: hidden;
}
.t-center {
  text-align: center;
}
.t-right {
  text-align: right;
}
.t-left {
  text-align: left;
}
/* 浮动、浮动清除 */
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix-zl::after,
.clearfix-zl::before {
  visibility: hidden;
  content: '';
  display: block;
  clear: both;
  line-height: 0;
  height: 0;
}
/* 定位 */
.fixed {
  position: fixed;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
/* 显示|隐藏 */
.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.flex-1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.block {
  display: block;
}
.none {
  display: none;
}
.inline-block {
  display: inline-block;
}
.hidden {
  visibility: hidden;
}
/*边框border*/
.border-bottom-#000000 {
  border: 1px solid rgba(0, 0, 0, 0.12);
}
.border-top-E1E1E1 {
  border: 1px solid #E1E1E1;
}
/*圆角4px*/
.bor-radius-4px {
  -webkit-border-radius: 0.04rem;
  -moz-border-radius: 0.04rem;
  border-radius: 0.04rem;
}
/*左右16pxpadding*/
.padding-lr-16px {
  padding: 0 0.16rem;
}
/*-----------------------------------------第二：功能层----------------------------------------------------*/
/*遮罩层、悬浮层(居中)、*/
.popup-mask {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 998;
}
/*弹出层居中*/
.popup-center {
  position: fixed;
  top: 50%;
  left: 50%;
  /*width:2.8rem;*/
  margin: 0 auto;
  background: #0F0F0F;
  z-index: 999;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* 单行溢出:省略号*/
.one-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.one-ellipsis-50width {
  width: 50%;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/*多行溢出 :在第二行显示省略号*/
.more-2ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.more-3ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.more-4ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
/*外阴影*/
.box-show {
  -webkit-box-shadow: 2px 1px 2px 1px rgba(148, 148, 148, 0.19);
  -moz-box-shadow: 2px 1px 2px 1px rgba(148, 148, 148, 0.19);
  box-shadow: 2px 1px 2px 1px rgba(148, 148, 148, 0.19);
}
/*返回前一个页面*/
.back-return-icon {
  position: absolute;
  left: 0rem;
  top: 0;
  width: 0.44rem;
  height: 0.44rem;
  background: url("../images/back.png") no-repeat center / 0.12rem 0.18rem;
}
/*进入下一个详情页面*/
.entry-icon {
  float: right;
  margin-top: 0.02rem;
  width: 0.22rem;
  height: 0.36rem;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  background: url("../images/back.png") no-repeat center / 0.11rem 0.18rem;
}
/*点击 X 关闭*/
.fork-close-icon {
  position: absolute;
  right: 0.04rem;
  top: 0rem;
  width: 0.3rem;
  height: 0.5rem;
  background: url("../images/fork-close-icon.png") no-repeat center / 0.14rem 0.14rem;
}
