
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, iframe, object, embed, fieldset, input, textarea, p, blockquote, td, th { padding: 0px; margin: 0px; }
table { border-collapse: collapse; border-spacing: 0px; }
fieldset, img { border: 0px; }
address, caption, cite, code, dfn, em, strong, th, var { font-weight: normal; font-style: normal; }
ol, ul { list-style: none; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; font-size: 100%; }
abbr, acronym, iframe { border: none; }
pre { white-space: normal; }
a { text-decoration: none; }
a:hover { text-decoration: underline; }
iframe { display: block; }
.clearfix::after { height: 0px; font-size: 0px; clear: both; display: block; visibility: hidden; content: "."; }
.clearfix { }
:focus { outline: none; }
.fl { float: left; }
.fr { float: right; }
body { font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: 20px; font-family: 微软雅黑, Tahoma, Arial, 宋体, sans-serif; text-size-adjust: none; color: rgb(117, 117, 117); background: url("../images/bodybg.jpg") repeat-x rgb(225, 225, 225); }
a { color: rgb(113, 113, 113); }
.main { width: 1024px; margin: 0px auto; }
.mt30 { margin-top: 30px; }
.yl_tit { font-size: 26px; color: rgb(58, 58, 58); border-left: 4px solid rgb(44, 118, 199); height: 28px; padding-left: 15px; margin: 5px 0px 30px; line-height: 28px; }
.listmenu ul li { width: 190px; border-bottom: 1px solid rgb(187, 187, 187); background: url("jt2.png") left 18px no-repeat; padding-left: 20px; line-height: 46px; font-size: 16px; }
.listmenu a { color: rgb(26, 26, 26); }
.ylm_ulon a { color: rgb(44, 118, 199); }
.listBox { width: 812px; border: 1px solid rgb(187, 187, 187); background: rgb(255, 255, 255); font-size: 14px; line-height: 40px; }
.listBox h1 { background: url("../images/listbg.jpg") repeat-x; line-height: 38px; font-size: 18px; color: rgb(41, 41, 41); padding-left: 24px; }
.listBox ul { padding: 50px 60px; min-height: 470px; }
.listBox ul li a { display: inline-block; width: 610px; height: 40px; overflow: hidden; }
.listBox ul li span { display: inline-block; float: right; color: rgb(148, 148, 148); }
.page { background: rgb(137, 137, 137); line-height: 30px; padding: 0px 35px; color: rgb(255, 255, 255); text-align: center; font-size: 12px; }
.page a { color: rgb(255, 255, 255); }
.yxgk_right { width: 814px; min-height: 600px; }
.hcdict-btnclose, .hcdict-fixer { background-image: url("http://dict.cn/v/1.0.2/i1/plugins/resources/images/dict_chrome_icon01.png"); }
.hcdict-popcont { background-image: url("http://dict.cn/v/1.0.2/i1/plugins/resources/images/dict_chrome_bg.png"); }