/*重置样式*/
ul {
  margin-bottom: 0;
  padding-left: 0;
}
li {
  list-style-type: none;
}
em {
  font-style: normal;
}
a {
  display: inline-block;
  text-decoration: none;
  outline: 0;
  outline-width: 0px;
  transition: all 0.28s linear;
  -moz-transition: all 0.28s linear;
  -webkit-transition: all 0.28s linear;
  -o-transition: all 0.28s linear;
  color: #505050;
}
img {
  max-width: 100%;
  height: auto;
}
span {
  display: inline-block;
}
.no-padding {
  padding: 0;
}
.none {
  display: none;
}
/*页面样式*/
header {
  /*顶部网站导航*/
  /*logo、搜索框*/
}
header .tool-bar {
  background: #eaeaea;
  height: 40px;
  line-height: 40px;
  margin-bottom: 40px;
}
header .tool-bar .tool-item {
  padding-right: 15px;
}
header .tool-bar .tool-item a {
  color: #727272;
}
header .logosearchbar .search {
  border: 2px solid #ddd;
}
header .logosearchbar .search input {
  width: 80%;
  height: 40px;
  text-indent: 10px;
  line-height: 46px;
  border: none;
}
header .logosearchbar .search button {
  width: 20%;
  padding: 0;
  height: 40px;
  border: none;
  color: #fff;
  cursor: pointer;
  background: #6bcbca;
}
nav {
  height: 45px;
  line-height: 45px;
  margin-top: 30px;
  font-size: 16px;
  /*快捷导航*/
  /*导航条*/
}
nav .quick-menubar {
  position: relative;
  width: 15.5%;
  margin-right: 0.5%;
  text-align: center;
  color: #fff;
  /*悬浮子导航*/
}
nav .quick-menubar .quick-bar {
  background: #4f7bb8;
}
nav .quick-menubar .quick-menus {
  position: absolute;
  width: 225px;
  background: #fff;
  z-index: 10;
  padding-top: 20px;
  /*3级别导航*/
}
nav .quick-menubar .quick-menus .quick-menu-ul {
  padding: 10px 0;
  border: 1px solid #dedede;
}
nav .quick-menubar .quick-menus .quick-menu-ul .quick-menu-li {
  position: relative;
  height: 61px;
  line-height: 60px;
  text-align: left;
}
nav .quick-menubar .quick-menus .quick-menu-ul .quick-menu-li .firsta {
  width: 100%;
  height: 60px;
  color: #333;
  font-size: 14px;
  display: block;
  position: relative;
  text-indent: 50px;
}
nav .quick-menubar .quick-menus .quick-menu-ul .quick-menu-li .firsta em {
  display: block;
  margin: 0 14px;
  border-bottom: 1px solid #ebebeb;
  transition: border-bottom 0.28s linear;
  -moz-transition: border-bottom 0.28s linear;
  -webkit-transition: border-bottom 0.28s linear;
  -o-transition: border-bottom 0.28s linear;
}
nav .quick-menubar .quick-menus .quick-menu-ul .quick-menu-li .firsta span {
  width: 2px;
  height: 2px;
  top: 29px;
  left: 43px;
  position: absolute;
  z-index: 100;
  background: #FFF;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.5);
  -moz-transition: all 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.5);
  -o-transition: all 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.5);
  transition: all 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.5);
}
nav .quick-menubar .quick-menus .quick-menu-ul .quick-menu-li i {
  width: 26px;
  height: 24px;
  position: absolute;
  left: 29px;
  top: 18px;
  z-index: 102;
}
nav .quick-menubar .quick-menus .quick-menu-ul .quick-menu-li .style01 {
  background: url(../images/ico_017.png) center center no-repeat;
}
nav .quick-menubar .quick-menus .quick-menu-ul .quick-menu-li .style02 {
  background: url(../images/ico_018.png) center center no-repeat;
}
nav .quick-menubar .quick-menus .quick-menu-ul .quick-menu-li .style03 {
  background: url(../images/ico_019.png) center center no-repeat;
}
nav .quick-menubar .quick-menus .quick-menu-ul .quick-menu-li .style04 {
  background: url(../images/ico_020.png) center center no-repeat;
}
nav .quick-menubar .quick-menus .quick-menu-ul .quick-menu-li .style05 {
  background: url(../images/ico_021.png) center center no-repeat;
}
nav .quick-menubar .quick-menus .quick-menu-ul .quick-menu-li .style06 {
  background: url(../images/ico_022.png) center center no-repeat;
}
nav .quick-menubar .quick-menus .quick-menu-ul .quick-menu-li .style07 {
  background: url(../images/ico_023.png) center center no-repeat;
}
nav .quick-menubar .quick-menus .quick-menu-li:hover .firsta {
  background: #ff7544 right center no-repeat;
  text-indent: 60px;
  color: #FFF;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}
nav .quick-menubar .quick-menus .quick-menu-li:hover .firsta em {
  border-bottom: 1px solid #ebebeb;
}
nav .quick-menubar .quick-menus .quick-menu-li:hover .firsta span {
  width: 44px;
  height: 44px;
  top: 8px;
  left: 20px;
}
nav .quick-menubar .quick-menus .quick-menu-li:hover .sub-menus {
  display: block;
}
nav .quick-menubar .quick-menus .quick-menu-li:last-child em {
  border-bottom: none;
}
nav .quick-menubar .quick-menus .quick-menu-ul .quick-menu-sub .sub-menus {
  position: absolute;
  left: 100%;
  width: 225px;
  background: #fff;
  border: 1px solid #dedede;
  z-index: 10;
}
nav .quick-menubar .quick-menus .quick-menu-ul .quick-menu-sub .sub-menus li {
  width: 222px;
  height: 74px;
  background: url(../images/ico_004.png) 18px center no-repeat;
  font-size: 14px;
}
nav .quick-menubar .quick-menus .quick-menu-ul .quick-menu-sub .sub-menus li a {
  display: block;
  position: relative;
  padding-left: 38px;
  line-height: 74px;
  color: #494949;
  font-size: 14px;
}
nav .quick-menubar .quick-menus .quick-menu-ul .quick-menu-sub .sub-menus li a span {
  background: #ff7544;
  font-size: 12px;
  color: #fff;
  -moz-opacity: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  border-radius: 2px;
  padding: 0px 15px;
  line-height: 24px;
  text-align: center;
  top: 25px;
  right: 20px;
  position: absolute;
  transition: all 0.28s linear;
  -moz-transition: all 0.28s linear;
  -webkit-transition: all 0.28s linear;
  -o-transition: all 0.28s linear;
}
nav .quick-menubar .quick-menus .quick-menu-ul .quick-menu-sub .sub-menus li:hover a {
  color: #ff7544;
  padding-left: 45px;
  box-shadow: 0px 5px 15px 1px rgba(128, 128, 128, 0.25);
}
nav .quick-menubar .quick-menus .quick-menu-ul .quick-menu-sub .sub-menus li:hover a span {
  -moz-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
}
nav .quick-menubar .quick-menus .quick-menu-ul .quick-menu-sub .sub-menus-one {
  top: -11px;
}
nav .quick-menubar .quick-menus .quick-menu-ul .quick-menu-sub .sub-menus-two {
  top: -72px;
}
nav .navbars {
  width: 84%;
  background: #4f7bb8;
}
nav .navbars .navbaritems .navbaritem {
  position: relative;
  width: 10%;
  text-align: center;
  line-height: 40px;
  margin-top: 5px;
  height: 40px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
nav .navbars .navbaritems .navbaritem a {
  width: 100%;
  height: 100%;
  color: #fff;
}
nav .navbars .navbaritems .navbaritem img {
  position: absolute;
  bottom: -8px;
  left: 50%;
  margin-left: -8px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
nav .navbars .navbaritems .navbaritem:hover {
  background: #4b70a4;
}
nav .navbars .navbaritems .navbaritem:hover img {
  opacity: 1;
}
.suspend-nav {
  position: relative;
}
.suspend-nav .suspend-nav-items {
  position: absolute;
}
.suspend-nav .suspend-nav-items .suspend-nav-item {
  position: relative;
  z-index: 11;
  padding: 40px 0;
  background: #FFF;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid #e6e5e5;
  border-top: 1px solid #e6e5e5;
}
.suspend-nav .suspend-nav-items .suspend-nav-item .navboxs {
  font-size: 12px;
  /*3级导航：公共的样式*/
  /*‘更多’的样式*/
  /*研院简介*/
  /*新闻动态*/
  /*培养教育*/
  /* .navSub2 dl {
          padding-left: 67px;
        }*/
}
.suspend-nav .suspend-nav-items .suspend-nav-item .navboxs .navMenus li {
  height: 51px;
  overflow: hidden;
  line-height: 51px;
  border-top: #f5f4f4 1px solid;
  background: url(../images/ico_004.png) 18px center no-repeat;
  font-size: 14px;
}
.suspend-nav .suspend-nav-items .suspend-nav-item .navboxs .navMenus li a {
  padding-left: 40px;
  color: #494949;
  display: block;
  position: relative;
}
.suspend-nav .suspend-nav-items .suspend-nav-item .navboxs .navMenus li a span {
  background: #ff7544;
  font-size: 12px;
  color: #fff;
  -moz-opacity: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  border-radius: 2px;
  padding: 0px 15px;
  line-height: 24px;
  text-align: center;
  top: 14px;
  right: 1px;
  position: absolute;
  transition: all 0.28s linear;
  -moz-transition: all 0.28s linear;
  -webkit-transition: all 0.28s linear;
  -o-transition: all 0.28s linear;
}
.suspend-nav .suspend-nav-items .suspend-nav-item .navboxs .navMenus li a:hover {
  color: #ff7544;
  padding-left: 50px;
}
.suspend-nav .suspend-nav-items .suspend-nav-item .navboxs .navMenus li a:hover span {
  -moz-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
}
.suspend-nav .suspend-nav-items .suspend-nav-item .navboxs .Amore {
  width: 96px;
  height: 36px;
  color: #FFF;
  text-align: center;
  line-height: 36px;
  background: #4f7bb9;
  border-radius: 2px;
}
.suspend-nav .suspend-nav-items .suspend-nav-item .navboxs .Amore:hover {
  background: #ff7544;
}
.suspend-nav .suspend-nav-items .suspend-nav-item .navboxs .second {
  background: #6bcbca;
  padding: 5px 15px;
  color: #FFF;
  border-radius: 3px;
}
.suspend-nav .suspend-nav-items .suspend-nav-item .navboxs .navSub5 p {
  line-height: 22px;
  color: #666;
}
.suspend-nav .suspend-nav-items .suspend-nav-item .navboxs .navSub5 .first {
  padding-top: 16px;
}
.suspend-nav .suspend-nav-items .suspend-nav-item .navboxs .navSub6 ul {
  margin: 20px 0;
}
.suspend-nav .suspend-nav-items .suspend-nav-item .navboxs .navSub6 ul li span {
  color: #ff7544;
  font-size: 18px;
  vertical-align: middle;
  padding-right: 11px;
}
.suspend-nav .suspend-nav-items .suspend-nav-item .navboxs .navSub6 ul li em {
  color: #666;
}
.suspend-nav .suspend-nav-items .suspend-nav-item .navboxs .navSub2 .pic {
  float: left;
  width: 30%;
}
.suspend-nav .suspend-nav-items .suspend-nav-item .navboxs .navSub2 .purl {
  float: left;
  width: 70%;
  height: 70px;
  line-height: 70px;
}
.suspend-nav .suspend-nav-items .suspend-nav-item .navboxs .navSub2 .purl em {
  color: #4f7bb9;
  padding-right: 13px;
}
.suspend-nav .suspend-nav-items .suspend-nav-item .navboxs .navSub2 dd.url {
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  line-height: 25px;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.suspend-nav .suspend-nav-items .suspend-nav-item .navboxs .navSub2 dd.url span {
  color: #4f7bb9;
  padding-right: 13px;
}
.suspend-nav .suspend-nav-items .suspend-nav-item .navboxs .navSub7 div {
  width: 100%;
  position: relative;
  border-top: 1px solid #CCC;
  background: url(../images/ico_045.jpg) left 22px no-repeat;
  padding-top: 22px;
}
.suspend-nav .suspend-nav-items .suspend-nav-item .navboxs .navSub7 h3 {
  font-size: 18px;
  padding-bottom: 8px;
  color: #29596f;
}
.suspend-nav .suspend-nav-items .suspend-nav-item .navboxs .navSub7 dd,
.suspend-nav .suspend-nav-items .suspend-nav-item .navboxs .navSub7 dt {
  font-weight: 400;
  font-size: 12px;
  color: #666;
  line-height: 25px;
}
.suspend-nav .suspend-nav-items .suspend-nav-item .navboxs .navSub7 h4 {
  font-size: 18px;
  line-height: 36px;
  padding-left: 76px;
  color: #29596f;
}
.suspend-nav .suspend-nav-items .suspend-nav-item .navboxs .navSub7 h4 span {
  font-size: 12px;
}
.breadcrumb {
  margin-top: 30px;
  padding-left: 10px;
  background: transparent;
  font-size: 12px;
  color: #666;
}
.breadcrumb P {
  margin: 0;
}
main aside {
  padding-left: 0!important;
}
main aside .aside-title {
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #fff;
  background: #6bcbca;
  font-size: 18px;
}
main article h2 {
  color: #adadad;
  font-size: 30px;
  margin: 14px 0;
  padding-bottom: 10px;
  border-bottom: 1px #e7e6e6 solid;
}
main article h3 {
  font-size: 22px;
  margin: 30px 0;
}
main article .articletool {
  height: 36px;
  line-height: 36px;
  background: #f3f3f3;
  padding: 0 15px;
  margin-bottom: 35px;
}
main article .articletext {
  padding-bottom: 30px;
  margin-bottom: 25px;
  border-bottom: 1px #e7e6e6 solid;
}
main article .articletext .text {
  text-indent: 30px;
  line-height: 2em;
  color: #666;
  font-size: 16px;
}
main article .pre-next-article .prebtn,
main article .pre-next-article .nextbtn {
  width: 60px;
  height: 30px;
  margin-right: 10px;
  line-height: 30px;
  text-align: center;
  border: 1px solid #e6e6e6;
}
main article .pre-next-article a {
  color: #505050;
}
footer {
  padding-bottom: 50px;
}
footer .tel-server-wxaccounts-institute {
  margin-top: 40px;
  padding: 40px 0;
  background: #f1f1f1;
}
footer .tel-server-wxaccounts-institute .tel dt,
footer .tel-server-wxaccounts-institute .server dt {
  position: relative;
  margin-bottom: 10px;
}
footer .tel-server-wxaccounts-institute .tel dt em,
footer .tel-server-wxaccounts-institute .server dt em {
  position: absolute;
  top: 0;
  left: 40px;
  font-weight: 400;
  font-size: 16px;
  color: #333;
}
footer .tel-server-wxaccounts-institute .tel dt span,
footer .tel-server-wxaccounts-institute .server dt span {
  position: absolute;
  top: 20px;
  left: 40px;
  color: #6bcbca;
  font-size: 14px;
}
footer .tel-server-wxaccounts-institute .tel a,
footer .tel-server-wxaccounts-institute .server a {
  color: #696969;
  font-size: 14px;
  text-indent: 46px;
  display: block;
  background: url(../images/ico_007.jpg) 26px center no-repeat;
}
footer .tel-server-wxaccounts-institute .wxaccounts span {
  color: #ff7544;
  margin: 10px 0;
}
footer .tel-server-wxaccounts-institute .wxaccounts .more-wxaccount {
  padding: 6px 4px;
  font-size: 12px;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #cacaca;
}
footer .tel-server-wxaccounts-institute .wxaccounts .more-wxaccount:hover {
  background: #ff7544;
}
footer .tel-server-wxaccounts-institute .institute .institute-select {
  margin-top: 50px;
}
footer .tel-server-wxaccounts-institute .institute .institute-select select {
  height: 25px;
  line-height: 22px;
  border: 2px solid #d6d5d4;
  padding: 0px;
  color: #757575;
}
footer .website-info-links {
  margin-top: 30px;
}
footer .website-info-links .aboutus {
  margin-top: 20px;
}
footer .website-info-links .aboutus a,
footer .website-info-links .aboutus span {
  color: #757575;
  margin: 0 2px;
}
footer .website-info-links .aboutus a:hover {
  text-decoration: underline;
}
footer .website-info-links .friendlinks-select {
  text-align: center;
  margin: 20px auto 0;
}
footer .website-info-links .friendlinks-select select {
  height: 25px;
  line-height: 22px;
  border: 2px solid #d6d5d4;
  padding: 0px;
  color: #757575;
}
@media (min-width: 769px) and (max-width: 1200px) {
  nav .quick-menubar {
    width: 5%;
    margin-right: 1%;
  }
  nav .navbars {
    width: 94%;
  }
}
@media (max-width: 992px) {
  .row {
    margin: 0!important;
  }
  header .tool-bar {
    margin-bottom: 10px;
  }
  input {
    font-size: 12px!important;
  }
  /* input,input::-webkit-input-placeholder,input::-moz-placeholder,.input:-moz-placeholder,.input:-ms-input-placeholder{
    font-size: 12px!important;
  }*/
  header .logosearchbar .search {
    margin-top: 5px;
  }
  header .logosearchbar .search input {
    height: 30px;
  }
  header .logosearchbar .search button {
    height: 32px;
  }
  nav .navbars .navbaritems .navbaritem a {
    font-size: 14px;
  }
  article {
    /* width: 98%!important;
     margin: 0 auto!important;
     padding: 0!important;*/
  }
  main article .articletool {
    font-size: 12px;
    padding: 0 4px;
    margin-bottom: 10px;
  }
  main article h2 {
    font-size: 22px;
  }
  main article h3 {
    font-size: 20px;
    margin: 15px 0;
  }
  main article .articletext .text {
    font-size: 14px;
    line-height: 28px;
  }
  .pre-next-article span,
  .pre-next-article a {
    font-size: 12px;
  }
  .pre-next-article a {
    display: inline-block;
    width: 75%;
    line-height: 1;
    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
  }
  footer {
    background: #f1f1f1;
    padding-bottom: 0!important;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  header .logosearchbar .search {
    margin-top: 10px;
  }
}
/*# sourceMappingURL=detail.css.map */