.querystyle195853{ border-right: #878787 1px solid; border-top: #878787 1px solid; padding-left: 18px; font-size: 10pt; background-image: url(/system/resource/images/research/seach_bg.gif); border-left: #878787 1px solid; color: #222222; padding-top: 3px; border-bottom: #878787 1px solid; background-repeat: no-repeat; font-family: 宋体; position: relative; height: 22px ;}

.timestyle46691{ font-size: 9pt ;}
.subtitlestyle46691{ font-size: 12pt; line-height: 150%; font-family: 黑体 ;}
.titlestyle46691{ font-weight: bold; font-size: 18pt; line-height: 150%; font-family: 黑体 ;}
.attachstyle46691{ font-size: 9pt;}
.contentstyle46691{ font-size: 9pt; color: #222222; line-height: 150% ;}
.clickstyle46691{ font-size: 9pt;}
.authorstyle46691{ font-size: 9pt; line-height: 150% ;}

